<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload an Image</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Upload an image</h1>
    <form action="/upload/" enctype="multipart/form-data" method="post">
        <label for="model_name">Select Model:</label>
        <select name="model_name" id="model_name">
            {% for model in model_options %}
                <option value="{{ model }}">{{ model }}</option>
            {% endfor %}
        </select>
        <br><br>
        <input name="file" type="file">
        <input type="submit">
    </form>
    
    <h2>Add a new model</h2>
    <form action="/add_model/" enctype="multipart/form-data" method="post">
        <label for="model_name">Model Name:</label>
        <input name="model_name" type="text">
        <br><br>
        <input name="file" type="file">
        <input name="class_names" type="text" placeholder="Enter class names (comma-separated)" required>
        <input type="submit">
    </form>
</body>
</html>
